@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.certificate{
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat url("images/background.jpg");
    height: 100vh;
}

.certificate__container{
    width: 90%;
    height: 80%;
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(256, 256, 256, 0.5);
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.certificate__content{
    flex-grow: 1;
}

.certificate__bottom{
    flex-shrink: 0;
}


.certificate__title{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 0 0 25px 0;
}

.certificate__second-title{
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 0 70px 0;
    letter-spacing: 4px;
}

.certificate__text{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #6c9ed8;
    max-width: 600px;
    margin: 0 auto;
}

.certificate__info{
    font-style: italic;
    font-size: 70px;
    margin: 10px 0;
}

.certificate__signature{
    font-size: 50px;
    font-family: 'Courgette';
    width: fit-content;
    margin: 0 auto 10px;
    padding: 0 30px 10px 30px;
    font-style: italic;
    border-bottom: 2px solid #000;
}
